body {
  background-color: #ffcc66;
  font-family: "Courier New", sans-serif;
}

#div-vorm {
  background-color: #ffb3b3;
  display: inline-block;
  padding: 20px;
  font-family: "Courier New", sans-serif;
  margin-bottom: 50px;
  border-radius: 10px;
}

#div-lehe_sisu{
  margin-left: 20%;
  margin-right: 20%;
}
